body{
    max-width: 650px;
    margin: 40px auto;
    padding: 0 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

h1{
    font-size: 2em;
    margin-bottom: 0.5em;
    color: red;
}

h2{
    font-size: 1.5em;
    margin-bottom: 1em;
    color: blue;
}

h3{
    font-size: 1.2em;
    color: green;
}

p{
    margin-bottom: 1em;
    color: blueviolet;
}